{% load static %}
{% load filters %}

{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <meta charset="utf-8">
    <!--CSS Inclusion-->
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    {% if title %}
    <title>Pinbitt - {{ title }}</title>
    {% else %}
    <title>Pinbitt</title>
    {% endif %}
  </head>
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    {# Imports #}
    <!--Chart JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js" type="text/javascript"></script>

    <!--Angular JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js" type="text/javascript"></script>

    <!--JQuery-->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135472012-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-135472012-1');
    </script>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-7350588713619269",
        enable_page_level_ads: true
      });
    </script>


    {% block js_code %}{% endblock %}

    <script>
      $(document).ready(function(event) {
          setInterval(function(){
            $("#nav_bar").load(" #nav_bar > *");
            $.ajax({
              type: "POST",
              url: "{% url 'blog-home' %}",
              data : { 'csrfmiddlewaretoken': '{{csrf_token}}', 'action' : "Load_Content"},
              dataType: 'json',
              success : function(response) {
                $('#nav_bar_mobile').html(response['nav']);
              },
              error : function(rs, e) {
                console.log(rs.responseText);
              }
            });
          }, 3000);
      });

      $(document).ready(function(event) {
        $(document).on('click', '#drop_menu' , function(event) {
            var link = $(this).attr('link');
            window.location.href = link;
        });
      });

      $(document).ready(function(event) {
        $(document).on('click', '#msgButton' , function(event) {
            $.ajax({
              type: "POST",
              url: "{% url 'blog-home' %}",
              data : { 'csrfmiddlewaretoken': '{{csrf_token}}', 'action' : "Load_Content"},
              dataType: 'json',
              success : function(response) {
                $("#circles_display").html(response['msg']);
              },
              error : function(rs, e) {
                console.log(rs.responseText);
              }
            });
        });
      });

      $(document).ready(function(event) {
          $(document).on('submit', '#search_form' , function(event) {
            event.preventDefault();
              var query = $('#search').val();
              var query_mobile = $('#search_mobile').val();

              if(query_mobile){
                query = query_mobile
              }

              if(query.includes("#")){
                for(i=0; i < query.length; i++) {

                query= query.replace('#', "[~h]");

                }

              }

              query_link = "{% url 'search' 'SEARCH_QUERY'%}"
              query_link = query_link.replace('SEARCH_QUERY', query.toString());
              window.location.href = query_link;
          });
      });

    </script>

{% if not request.user_agent.is_mobile %}
  <!-- Navigation Bar -->
  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top" >
      <div class="container">
        <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">
        <img class="mr-0" style=" width: auto; height: 24px; cursor:pointer;" src="{% static 'resources/pinbitt_logo_white_full.png' %}"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">

          {% if user.is_authenticated %}
          <div class="navbar-nav mr-auto" id="nav_bar">
            <img class="mr-0" style=" width: auto; height: 30px; cursor:pointer;" id="bellButton"
            src="{% static 'resources/bell.png' %}" data-toggle="modal"data-target="#notificationModalCenter"/>
            {% if notifications or requests %}
              {% if badge_count != 0 %}
                <span class="badge badge-danger" style="border-radius:3rem; height:100%;"> {{badge_count}}</span>
              {% endif %}
            {% endif %}

            <img class="ml-2" style=" width: auto; height: 30px; cursor:pointer;" id="msgButton"
            {% if not unread_messages %} src="{% static 'resources/message.png' %}"
            {% else %} src="{% static 'resources/message_new.png' %}"
            {% endif %} data-toggle="modal"data-target="#messageModalCenter"/>
          </div>

          <div class="" id="searchButton">
            <div class="mr-2" id="wrap" style="margin:0px;">
              <form id = "search_form" action="" method="GET" autocomplete="off">

                <fieldset class="form">
                  <input id="search" name="search" type="text" style="color:black;" placeholder="Search posts, @people, #topics, etc." >
                </fieldset>
                  <img src="{% static 'resources/search_icon.png' %}" style="width: auto; height: 30px;">
              </form>
            </div>
          </div>
          {% endif %}

          <!-- Navbar Right Side -->
          <div class="navbar-nav">
            {% if not user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'login' %}" style="color:white;">Sign In</a>
            <a class="nav-item nav-link" href="{% url 'register' %}" style="color:white;">Register</a>
            {% else %}
            <div class="dropdown">
                <img class="dropdown-toggle rounded-circle article-img mr-2" style=" width: 40px; height: 40px; padding:0; margin:0; border: 3px solid #FFFFFF; cursor:pointer;"
                src="{{user.profile.image.url}}" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"/>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" style="cursor:pointer" id="drop_menu" link="{% url 'user-posts' user %}">View Profile</a>
                  <a class="dropdown-item" style="cursor:pointer" id="drop_menu" link="{% url 'profile' %}">Edit Profile</a>
                  <a class="dropdown-item" style="cursor:pointer" id="drop_menu" link="{% url 'group_manager' %}">Groups</a>
                  <a class="dropdown-item" style="cursor:pointer" id="drop_menu" link="{% url 'feedback' %}">Feedback</a>
                  <a class="dropdown-item" style="cursor:pointer" id="drop_menu" link="{% url 'about' %}">About</a>
                  <a class="dropdown-item" style="cursor:pointer" id="drop_menu" link="{% url 'logout' %}">Log Out</a>
                </div>
              </div>

              {% if not hide_post %}
              <button class="btn btn-normal post_new" style=" width: auto; height: auto; border: 2px solid #FFFFFF;
              cursor:pointer; border-radius: 20px;" id="main_interact_big" data-toggle="modal"
              data-target="#newPostModalCenter"><b>New Post</b></button>
              {% endif %}
            {# <button type="button" class="btn btn-primary btn-9g round">Round</button> #}
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </header>
{% endif %}

  {% if request.user_agent.is_mobile %}
  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top" style="background-color:white; border-bottom: 1px solid #a300cc;">
      <div class="container">

        {% if user.is_authenticated %}
        <button class="navbar-toggler mr-0" type="button" data-toggle="collapse" data-target="#navbarToggle"
        aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation" style="outline: none; float:left; padding:0; margin:0;">
          <img class="rounded-circle article-img mr-0" style=" width: 40px; height: 40px; padding:0; margin:0; border: 3px solid #FFFFFF; cursor:pointer;"
          src="{{user.profile.image.url}}" />
        </button>

        <form id = "search_form" action="" method="GET" autocomplete="off" style="float:left;">
          <fieldset class="form" style="margin-left:0vw">
            <input id="search_mobile" name="search" type="text" style="color:black; "
            placeholder="Search posts, @people, #topics, etc." >
          </fieldset>
        </form>

        {% else %}
        <div style="text-align:center; width:100%">
          <a class="navbar-brand" style="" href="{% url 'blog-home' %}">
            <img class="" style=" width: auto; height: 24px; cursor:pointer;"  src="{% static 'resources/pinbitt_logo_purple_full.png' %}"/>
          </a>
        </div>

        {% endif %}

        <div class="collapse navbar-collapse" id="navbarToggle">
          <!-- Navbar Right Side -->
          <div class="navbar-nav" style="">
            {% if not user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'login' %}" style="cursor:pointer;">Sign In</a>
            <a class="nav-item nav-link" href="{% url 'register' %}" style="cursor:pointer;">Register</a>
            {% else %}

            <a class="dropdown-item" style="cursor:pointer; padding-left:2%;" id="drop_menu" link="{% url 'user-posts' user %}">View Profile</a>
            <a class="dropdown-item" style="cursor:pointer; padding-left:2%;" id="drop_menu" link="{% url 'profile' %}">Edit Profile</a>
            <a class="dropdown-item" style="cursor:pointer; padding-left:2%;" id="drop_menu" link="{% url 'group_manager' %}">Groups</a>
            <a class="dropdown-item" style="cursor:pointer; padding-left:2%;" id="drop_menu" link="{% url 'feedback' %}">Feedback</a>
            <a class="dropdown-item" style="cursor:pointer; padding-left:2%;" id="drop_menu" link="{% url 'about' %}">About</a>
            <a class="dropdown-item" style="cursor:pointer; padding-left:2%;" id="drop_menu" link="{% url 'logout' %}">Log Out</a>

            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </header>

  <div id="nav_bar_mobile">
    {% include 'blog/bottom_nav.html' %}
  </div>
  {% endif %}

{% block overhead %}{% endblock %}
  <!-- Container Area -->
{% if not request.user_agent.is_mobile %}
  <main role="main" class="container">
    <div class="row">
      <!--Friends-->
      {% if 'post' not in request.path %}
        <div class="col-md-3" style="margin-top: 2rem;">
          {% block left %}{% endblock %}
        </div>
      {% endif %}
      <!--Content-->
      <div class="col-md-6" style="margin-top: 2rem;">

        {% if messages %}
        {% for msg in messages %}
        <div class="alert alert-{{ msg.tags }}">
        {{ msg }}
        </div>
        {% endfor %}
        {% endif %}

{% endif %}

        {% if request.user_agent.is_mobile and is_dropdown_bottom %}
          <div style="margin-top: 0rem; margin-bottom: 0rem;">
        {% elif request.user_agent.is_mobile and not is_dropdown %}
          <div style="margin-top: 3.5rem; margin-bottom: 3.0rem;">
        {% else %}
          <div style="margin-top: 0rem; margin-bottom: 1.0rem;">
        {% endif %}

        {% block content %}{% endblock %}
      </div>

{% if not request.user_agent.is_mobile %}
      </div>

      {% if 'post' not in request.path %}
          <div class="col-md-3" style="margin-top: 2rem;">
        {% else %}
          <div class="col-md-6" style="margin-top: 2rem;">
        {% endif %}
          {% block right %}{% endblock %}
        </div>
      </div>

    {% if show_bottom_detail %}
    <div class="mb-4" style="text-align:center;">
      <ul style="  list-style-type: none; margin: 0; padding: 0;" >
        <li class="mr-2" style="display: inline;">
          <a href="{% url 'blog-home' %}" style="color:black;">
            <b>Pinbitt</b></a>
        </li>
        <li class="mr-2" style="display: inline;">
          <a href="{% url 'about' %}" style="color:black;">
            <b>About</b></a>
        </li>
        <li class="mr-2" style="display: inline;">
          <a href="{% url 'terms_of_service' %}" style="color:black;">
            <b>Terms of Service</b></a>
        </li>
<!--        <li class="mr-2" style="display: inline;">
          <a href="{% url 'legal' %}" style="color:black;">
            <b>Legal</b></a>
        </li>
       <li class="mr-2" style="display: inline;">
          <a href="{% url 'privacy' %}" style="color:black;">
            <b>Privacy</b></a>
        </li> -->
      </ul>
    </div>
    {% endif %}

  </main>
  {% endif %}

  {% block about %}{% endblock about %}


      <!--Modals go here-->

      <!-- Modal -->

  {% block modal %}{% endblock %}

  </body>
</html>
