{% load static %}
{% load filters %}

{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <meta charset="utf-8">
    <!--CSS Inclusion-->
    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
    {% if title %}
    <title>Django Blog - {{ title }}</title>
    {% else %}
    <title>Django Blog</title>
    {% endif %}
  </head>
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    {# Imports #}
    <!--Chart JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js" type="text/javascript"></script>

    <!--Angular JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js" type="text/javascript"></script>

    <!--JQuery-->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    {% block js_code %}{% endblock %}
  <!-- Navigation Bar -->
  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top" >
      <div class="container">
        <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">MANGO Post</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="">Notifications</a>
          </div>

          <img class="mr-2" style=" width: 3.5vh; height: 3.5vh; cursor:pointer; padding:0, margin-left:40px;"
          src="{% static 'resources/bell.png' %}" data-toggle="modal"data-target="#notificationModalCenter"/>          
          <!-- Navbar Right Side -->
          <div class="navbar-nav">
            {% if not user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'login' %}">Sign In</a>
            <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
            {% else %}
            <div class="dropdown">
                <img class="dropdown-toggle rounded-circle article-img mr-2" style=" max-width: 5vh; height: 100%; border: 0.3vh solid #FFFFFF; cursor:pointer;"
                src="{{user.profile.image.url}}" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"/>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">About Mango</a>
                  <a class="dropdown-item" href="{% url 'user-posts' user.username %}">View Profile</a>
                  <a class="dropdown-item" href="{% url 'profile' %}">Edit Profile</a>
                  <a class="dropdown-item" href="{% url 'profile' %}">Preferences</a>
                  <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                </div>
              </div>


              <button class="btn btn-normal post_new" style=" width: auto; height: auto; border: 0.3vh solid #FFFFFF;
              cursor:pointer; border-radius: 20px;" id="main_interact_big" data-toggle="modal"
              data-target="#newPostModalCenter"><b>New Post</b></button>

            {# <button type="button" class="btn btn-primary btn-9g round">Round</button> #}
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </header>

{% block overhead %}{% endblock %}
  <!-- Container Area -->
  <main role="main" class="container">
    <div class="row">
      <!--Friends-->
      {% if 'post' not in request.path %}
        <div class="col-md-3" style="margin-top: 2rem;">
          {% block left %}{% endblock %}
        </div>
      {% endif %}
      <!--Content-->
      <div class="col-md-6" style="margin-top: 2rem;">

        {% if messages %}
        {% for msg in messages %}
        <div class="alert alert-{{ msg.tags }}">
        {{ msg }}
        </div>
        {% endfor %}
        {% endif %}

        {% block content %}{% endblock %}

      </div>
      {% if 'post' not in request.path %}
        <div class="col-md-3" style="margin-top: 2rem;">
      {% else %}
        <div class="col-md-6" style="margin-top: 2rem;">
      {% endif %}
        {% block right %}{% endblock %}
      </div>

    </div>
  </main>

      <!--Modals go here-->

      <!-- Modal -->

  {% block modal %}{% endblock %}

  </body>
</html>
