{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <meta charset="utf-8">
    <!--CSS Inclusion-->
    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
    {% if title %}
    <title>Django Blog - {{ title }}</title>
    {% else %}
    <title>Django Blog</title>
    {% endif %}
  </head>
  <body>
  <!-- Navigation Bar -->
  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <div class="container">
        <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">MANGO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a>
            <a class="nav-item nav-link" href="">Messages</a>
            <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>
          </div>
          <!-- Navbar Right Side -->
          <div class="navbar-nav">
            {% if not user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'login' %}">Sign In</a>
            <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
            {% else %}
            <a class="nav-item nav-link" href="{% url 'profile' %}">Hi, {{user}}!</a>
            <a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a>
            <a class="nav-item nav-link" href="{% url 'logout' %}">Log Out</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </header>

{% block overhead %}{% endblock %}
  <!-- Container Area -->
  <main role="main" class="container">
    <div class="row">
      <!--Friends-->
          <div class="col-md-3" style="margin-top: 2rem;">
          {% block left %}{% endblock %}
        </div>
      <!--Content-->
      <div class="col-md-6">

        {% if messages %}
        {% for msg in messages %}
        <div class="alert alert-{{ msg.tags }}">
        {{ msg }}
        </div>
        {% endfor %}
        {% endif %}
        <div style="margin-top: 2rem;">
          {% block content %}{% endblock %}
        </div>
      </div>
      <div class="col-md-3" style="margin-top: 2rem;">
          {% block right %}{% endblock %}
      </div>
    </div>
  </main>

      <!-- Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
