{% load crispy_forms_tags %}
{% load static %}
{% load filters %}

{% for person in circles %}
{% if forloop.counter <= page_limit %}

  <a class="mb-0" href="{% url 'user-posts' person.user %}" style="text-decoration: none !important">
    <article class="media content-section mb-0" style="border-radius: 3rem;">
      <img class="rounded-circle article-img" src="{{person.image.url}}">
      <div class="media-body">
        <b class="article-title" style="margin-right:2v; text-decoration:none;">{{person.nick}}</b>
        <b class="text" style="color:#0071e6">@{{person.user.username}}</b>
      </div>
    </article>
  </a>

{% endif %}
{% endfor %}
