
<ul style="padding:0;list-style-type: none;">
{% for person in circles %}
{% if forloop.counter <= page_limit %}
<li class="ml-2 mb-2" style="float:left; ">
<article class="post_object" style="width:35vh">
  <a href="{% url 'user-posts' person.user %}" style="text-decoration: none !important">
    <article class="media content-section mb-0" style="border-radius: 0.5rem;">
      <img class="rounded-circle article-img" src="{{person.image.url}}">
        <ul class="" style="padding:0;list-style-type: none;">
          <li><b class="article-title" style="margin-right:2v; text-decoration:none;">{{person.nick}}</b></li>
        <li><b class="text" style="color:#0071e6">@{{person.user.username}}</b></li>
      </ul>
    </article>


</li>
{% endif %}
{% endfor %}
</ul>
