{% load crispy_forms_tags %}
{% load static %}
{% load filters %}

<div class="thumbnail">
 <img class="img mb-2 rounded" style="width:100%; height:100%;" alt="Responsive image" src="{{group.groupsettings.coverImage.url}}">

  <div class="carousel-caption" style="">
        <a href="{% url 'group-posts' group.name %}">
      <img class="rounded-circle article-img mr-2" style=" width: 15vh; height: 15vh; border: 0.5vh solid #FFFFFF;" src="{{group.image.url}}">
      <div class="mb-0">
        <b><a class="mr-2" style="font-size:3vh;">{{ group.name }}</a></b>
      </div>
      <div class="mb-0">
        {% if group.members.count > 1 %}
        <a class="text mr-2" style="font-size:2.25vh;">{{ group.members.count }} Members</a>
        {% elif group.members.count > 0 %}
        <a class="text mr-2" style="font-size:2.25vh;">{{ group.members.count }} Member</a>
        {% else %}
        <a class="text mr-2" style="font-size:2.25vh;">No Members</a>
        {% endif %}
      </div>
 </a>
      <div>
        <main role="main" class="col">
          {% if request.user.username in request.path %}

            <button type="button" class="btn btn-primary float-right ml-2" id="editProfile" link="{% url 'profile' %}"
            style=" background-color: #a300cc; border-color: #a300cc; border-radius:1rem;"
            href="{% url 'profile' %}"> <b>Edit Profile</b> </button>
          {% else %}
            <!--
            <button type="button" class="btn btn-primary float-left ml-2"
            style="background-color: #a300cc; border-color: #a300cc; border-radius:1rem;"><b>Send Message</b></button>
            -->

          {% if is_member %}
            <button type="button" class="btn btn-primary float-right ml-2" id="leaveButton"
            style="color: #a300cc; background-color:white; border-color:white; border-radius:1rem;"><b>Leave</b></button>

            {% elif is_owner %}
            <button type="button" class="btn btn-primary float-right ml-2" id="editGroup" link="{% url 'group' group.name %}"
            style=" background-color: #a300cc; border-color: #a300cc; border-radius:1rem;"
            href="{% url 'profile' %}"> <b>Edit Group</b> </button>

          {% else %}

                {% if not existing_request %}
                <button type="button" class="btn btn-primary float-right ml-2" id="sendRequestButton"
                style="background-color: #a300cc; border-color: #a300cc; border-radius:1rem;"><b>Request To Join</b></button>
                {% else %}
                <button type="button" class="btn btn-primary float-right ml-2"
                style="color: #a300cc; background-color:white; border-color:white; border-radius:1rem;"><b>Request Sent</b></button>
                {% endif %}
        {% endif %}
        {% endif %}
        </main>

      </div>
  </div>

 </div>
