{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load filters %}

{% block overhead %}

<div id="profile_overhead_display">
{% include 'blog/group_overhead.html' %}
</div>

{% endblock overhead %}

{% block content %}
<script>
  $(document).ready(function(event) {
      $(document).on('click', '.updateButton' , function(event) {
        event.preventDefault();
              $('#loading').show();
              $('#post_display').hide();
          var member_id = $(this).attr('member_id');
          $.ajax({
            type: "POST",
            url: "{% url 'blog-home' %}",
            data : { 'id':member_id, 'csrfmiddlewaretoken': '{{csrf_token}}', 'action' : "View_Post"},
            dataType: 'json',
            success : function(response) {
              $('#post_display').html(response['form']);
              $('#loading').hide();
              $('#post_display').show();
              console.log("success");
            },
            error : function(rs, e) {
              $('#post_display').html("an error occured");
              console.log(rs.responseText);
            }
          });
      });
  });

  $(document).ready(function(event) {
      $(document).on('click', '.viewButtonContent' , function(event) {
        event.preventDefault();
              $('#content_loading').show();
              $('#content_display').hide();
          var member_id = $(this).attr('member_id');
          $.ajax({
            type: "POST",
            url: "{% url 'blog-home' %}",
            data : { 'id':member_id, 'csrfmiddlewaretoken': '{{csrf_token}}', 'action' : "View_Content"},
            dataType: 'json',
            success : function(response) {
              $('#content_display').html(response['form']);
              $('#content_loading').hide();
              $('#content_display').show();

            },
            error : function(rs, e) {
              $('#content_loading').hide();
              $('#content_display').hide();
              console.log(rs.responseText);
            }
          });
      });
  });

  $(document).ready(function(event) {
      $(document).on('click', '.homeLikeButton' , function(event) {
        event.preventDefault();
        event.stopImmediatePropagation();
          var member_id = $(this).attr('member_id');
          $.ajax({
            type: "POST",
            url: "{% url 'blog-home' %}",
            data : { 'id':member_id, 'csrfmiddlewaretoken': '{{csrf_token}}', 'action' : "Like_Feed"},
            dataType: 'json',
            success : function(response) {
              $('#feed_like_comment_' + member_id).html(response['main']);
              $('#feed_like_comment_R' + member_id).html(response['main']);
            },
            error : function(rs, e) {
              $('#post_display').html("an error occured");
              console.log(rs.responseText);
            }
          });
      });
  });

  $(document).ready(function(event) {
      $(document).on('click', '.newPostButton' , function(event) {
        event.preventDefault();
        event.stopImmediatePropagation();
        var member_id = $(this).attr('member_id');
          $.ajax({
            type: "POST",
            url: "{% url 'blog-home' %}",
            data : { 'id':member_id,'csrfmiddlewaretoken': '{{csrf_token}}', 'action' : "New_Post"},
            dataType: 'json',
            success : function(response) {
              $('#feed_display').html(response['form']);
              console.log("success");
            },
            error : function(rs, e) {
              console.log(rs.responseText);
            }
          });
      });

  });

  $(document).ready(function(event) {
      $(document).on('click', '#repostButton' , function(event) {
        event.preventDefault();
        event.stopImmediatePropagation();
          var member_id = $(this).attr('member_id');
          $.ajax({
            type: "POST",
            url: "{% url 'group-posts' group.name %}",
            data : { 'id':member_id, 'csrfmiddlewaretoken': '{{csrf_token}}', 'action' : "Repost"},
            dataType: 'json',
            success : function(response) {
              $('#feed_display').html(response['form']);
              console.log("success");
            },
            error : function(rs, e) {
              console.log(rs.responseText);
            }
          });
      });
  });

  $(document).ready(function(event) {
      $(document).on('click', '#followButton' , function(event) {
          $.ajax({
            type: "POST",
            url: "{% url 'group-posts' group.name %}",
            data : {'csrfmiddlewaretoken': '{{csrf_token}}', 'action' : "Follow"},
            dataType: 'json',
            success : function(response) {
              console.log("success");
              $('#profile_overhead_display').html(response['form']);
              location.reload();
            },
            error : function(rs, e) {
              $('#profile_overhead_display').html("an error occured");
              console.log(rs.responseText);
            }
          });
      });
  });

  $(document).ready(function(event) {
      $(document).on('click', '#joinButton' , function(event) {
          $.ajax({
            type: "POST",
            url: "{% url 'group-posts' group.name %}",
            data : {'csrfmiddlewaretoken': '{{csrf_token}}', 'action' : "Join"},
            dataType: 'json',
            success : function(response) {
              console.log("success");
              $('#profile_overhead_display').html(response['form']);
              location.reload();
            },
            error : function(rs, e) {
              $('#profile_overhead_display').html("an error occured");
              console.log(rs.responseText);
            }
          });
      });
  });

  $(document).ready(function(event) {
      $(document).on('click', '#sendRequestButton' , function(event) {
          $.ajax({
            type: "POST",
            url: "{% url 'group-posts' group.name %}",
            data : {'csrfmiddlewaretoken': '{{csrf_token}}', 'action' : "Send_Request"},
            dataType: 'json',
            success : function(response) {
              console.log("success");
              $('#profile_overhead_display').html(response['form']);
              location.reload();
            },
            error : function(rs, e) {
              location.reload();
              console.log(rs.responseText);
            }
          });
      });
  });

  $(document).ready(function(event) {
      $(document).on('click', '#leaveButton' , function(event) {
          $.ajax({
            type: "POST",
            url: "{% url 'group-posts' group.name %}",
            data : {'csrfmiddlewaretoken': '{{csrf_token}}', 'action' : "Leave"},
            dataType: 'json',
            success : function(response) {
              console.log("success");
              $('#profile_overhead_display').html(response['form']);
              location.reload();
            },
            error : function(rs, e) {
              $('#profile_overhead_display').html("an error occured");
              console.log(rs.responseText);
            }
          });
      });
  });

  $(document).ready(function(event) {
    $(document).on('click', '#editGroup' , function(event) {
        var link = $(this).attr('link');
        window.location.href = link;
    });
  });

  //paginator
$(document).ready(function (event) {
  $('#loading_feed').hide();
  $(window).scroll(function (event) {
     if ($(window).scrollTop() >= $(document).height() - $(window).height() - 10) {
        event.preventDefault();
        event.stopImmediatePropagation();
         var page_count = $("article[class*='post_object']").length;
         if({{posts.count }} > page_count){
            $('#loading_feed').show();
         $.ajax({
           type: "POST",
           url: "{% url 'group-posts' group.name view %}",
           data : { 'view': '{{view}}' ,'page_count': page_count, 'csrfmiddlewaretoken': '{{csrf_token}}', 'action' : "Load_Next"},
           dataType: 'json',
           success : function(response) {
             $('#feed_display').html(response['form']);
             $('#loading_feed').hide();

           },
           error : function(rs, e) {
             console.log(rs.responseText);
           }
         });
       }
     }
  });
});

$(document).ready(function(event) {
    $(document).on('click', '#copy_btn' , function(event) {
      event.preventDefault();
      event.stopImmediatePropagation();
        var member_id = $(this).attr('member_id');
        var link = "{% url 'post-detail' 'LINK' %}";
        $.ajax({
          type: "POST",
          url: "{% url 'blog-home' %}",
          data : { 'link':link, 'id':member_id, 'csrfmiddlewaretoken': '{{csrf_token}}', 'action' : "Copy_Link"},
          dataType: 'json',
          success : function(response) {
            console.log(copylink);
          },
          error : function(rs, e) {
            console.log(rs.responseText);
          }
        });
        current_link = document.location.origin;
        new_link = link.replace("LINK", member_id);
        copylink = current_link + new_link;
        var input = document.createElement("input");
        input.type = "text";
        input.value = copylink;
        input.id = "myInput";
        document.body.appendChild(input);
        var copyText = input;
        copyText.select();
        document.execCommand("copy");
        //alert("Copied the text: " + copyText.value);
        document.body.removeChild(input);
    });
});

</script>

{% if group.type != "4" and group.type != "5" or is_member or is_owner %}
<div id="feed_display">
{% if view == "moderators" or view == "members" or view == "followers" %}

  {% if circles.count > 0 %}
    {% include 'blog/feed_circles.html' %}
  {% else %}
    <article class="post_object" style="border-radius: 0.5rem; margin-bottom:0px">

        <div style="text-align:center;" class="mt-2 mb-2">
          <h5 style="text-align: center;"><strong>There's noboday here.</strong></h5>
          <blockquote>
          <p style="text-align: center; margin-left:5vh; margin-right:5vh;">Just an empty void for now.</p>
          </blockquote>
        </div>

    </article>
  {% endif %}

{% else %}
  {% if posts %}
    {% include 'blog/feed.html' %}
  {% else %}
    <article class="post_object" style="border-radius: 0.5rem; margin-bottom:0px">
        <div style="text-align:center;" class="mt-2 mb-2">
          <h5 style="text-align: center;"><strong>Looks like there's nothing to see here.</strong></h5>
          <blockquote>
          <p style="text-align: center; margin-left:5vh; margin-right:5vh;">There isn't any content or media to show yet.</p>
          </blockquote>
        </div>
    </article>
  {% endif %}
{% endif %}
</div>
{% else %}
<article class="post_object" style="border-radius: 0.5rem; margin-bottom:0px">
    <div style="text-align:center;" class="mt-2 mb-2">
      <h5 style="text-align: center;"><strong>Looks like there's nothing to see here.</strong></h5>
      <blockquote>
      <p style="text-align: center; margin-left:5vh; margin-right:5vh;">This group is set to private.</p>
      </blockquote>
    </div>
</article>
{% endif %}

<div id="loading_feed">
{% include 'blog/loading.html' %}
<div class="" style="margin-bottom:10vh;"></div>
</div>


{% endblock content %}

{% block left %}

{% if group.type != "4" and group.type != "5" or is_member or is_owner %}

{% if group.groupsettings.quote %}
<div class="mb-2" id="quote_section"
style=" font-size:2.3vh;">
  <b class="text-secondary">"{{group.groupsettings.quote}}"</b>
</div>
{% endif %}

{% if group.groupsettings.about %}
<div class="article-content mt-0 mb-2" id="about_section">
<b> Summary </b>
  {{group.groupsettings.about}}
</div>
{% endif %}

{% if media %}
<a><b> Pictures & Videos </b> <a class="float-right mr-0 mt-0" href="{% url 'group-posts' group.name 'media' %}">See All</a>
<div>
  {% for post in media|slice:":6"%}
  {% if post.video == "" %}
      <img class="updateButton mb-2 mt-2" alt="Responsive image" src="{{post.image.url}}"
      style="width:10.3vh; height:10.3vh; border-radius:0.5rem; cursor:pointer;"
      member_id = {{post.id}} data-toggle="modal" data-target="#postModalCenter">
  {% elif post.group %}
      <img class="updateButton mb-2 mt-2" alt="Responsive image" src="{% static 'resources/default_video.jpg' %}"
      style="width:10.3vh; height:10.3vh; border-radius:0.5rem; cursor:pointer;"
      member_id = {{post.id}} data-toggle="modal" data-target="#postModalCenter">
  {% endif %}
  {% endfor %}
  </div>
<p></p>
{% endif %}

<a><b> Recent Activity </b> <a class="float-right mr-0"></a></a>
<div id="activities" >
{% include 'blog/activities.html' %}
</div>

{% endif %}

{% endblock left %}



{% block right %}

{% if group.type != "4" and group.type != "5" or is_member or is_owner %}

    <article class="media content-section" style="margin-bottom:1vh; text-decoration: none !important; border-radius:0.5rem;">
      <div class="media-body" style="border-radius: 0rem;">
      <div class="row">
        <a class="col-md-4 mt-2" style="text-align:center; text-decoration:none; color:black; border-radius:0.5rem;" id="hidden_interact" href="{% url 'group-posts' group.name 'feed' %}">
          <img src="{% static 'resources/post_big.png' %}" style="width: 60%; height: auto; text-align:center;"/>
          <div class="h5" style="text-align:center"><b>{{group_posts}}</b></div>
        </a>
        <a class="col-md-4 mt-2" style="text-align:center; text-decoration:none; color:black; border-radius:0.5rem;" id="hidden_interact" href="{% url 'group-posts' group.name 'likes' %}">
          <img class="align-middle" src="{% static 'resources/heart_big.png' %}" style="width: 60%; height: auto; text-align:center"/>
          <div class="h5" style="text-align:center"><b>{{group_likes}}</b></div>
        </a>
        <a class="col-md-4 mt-2" style="text-align:center; text-decoration:none; color:black; border-radius:0.5rem;" id="hidden_interact" href="{% url 'group-posts' group.name 'replies' %}">
          <img src="{% static 'resources/comment_big.png' %}" style="width: 60%; height: auto; text-align:center"/>
          <div class="h5" style="text-align:center"><b>{{group_comments}}</b></div>
        </a>
      </div>
      </div>
      </article>

  <a class=" mr-0 mb-0" href="{% url 'user-posts' group.owner.username %}" style="color:black;">
  <b> Owner <a style="font-size:2.5vh;"></a> </b>
  </a>
  <ul class="list-group" style="margin-bottom:2vh">
{% if group.owner %}
    <a href="{% url 'user-posts' group.owner.username %}" style="text-decoration: none !important">
    <li class="list-group-item list-group-item" style="border-radius: 0.5rem;">
        <div class="media-body">
        <img class="rounded-circle article-img" style="width:3vh; height:3vh; margin-right:1vh;" src="{{group.owner.profile.image.url}}">
          <b class="article-title" style="font-size:2vh">{{group.owner.profile.nick}}</b>
        </div>
      </li>
      </a>
  </ul>
  {% endif %}


{% if group.members.all %}
<a class=" mr-0 mb-0" href="{% url 'group-posts' group.name 'members' %}" style="color:black;">
<b> Members <a style="font-size:2.5vh;">{{group.members.count}}</a></b>
</a>
<ul class="list-group">
  {% for member in group.members.all %}
      {% if forloop.counter <= 5 %}
    <a href="{% url 'user-posts' member.username %}" style="text-decoration: none !important">
        {% if forloop.first %}
    <li class="list-group-item list-group-item" style="border-top-left-radius: 0.5rem; border-top-right-radius: 0.5rem;">
        {% elif forloop.last %}
    <li class="list-group-item list-group-item" style="border-bottom-left-radius: 0.5rem; border-bottom-right-radius: 0.5rem;">
        {% else %}
    <li class="list-group-item list-group-item" style="">
        {% endif %}
      <div class="media-body">
        <img class="rounded-circle article-img" style="width:3vh; height:3vh; margin-right:1vh;" src="{{member.profile.image.url}}">
          <b class="article-title" style="font-size:2vh">{{member.profile.nick}}</b>
      </div>
    </li>
    </a>
    {% endif %}
  {% endfor %}

{% endif %}
</ul>

{% if group.followers.count > 0 %}
<a class=" mr-0 mb-0" href="{% url 'group-posts' group.name 'followers' %}" style="color:black;">
<b> Followers <a style="font-size:2.5vh;">{{group.followers.count}}</a></b>
</a>
<ul class="list-group">
  {% for member in group.followers.all %}
      {% if forloop.counter <= 5 %}
    <a href="{% url 'user-posts' member %}" style="text-decoration: none !important">
        {% if forloop.first %}
    <li class="list-group-item list-group-item" style="border-top-left-radius: 0.5rem; border-top-right-radius: 0.5rem;">
        {% elif forloop.last %}
    <li class="list-group-item list-group-item" style="border-bottom-left-radius: 0.5rem; border-bottom-right-radius: 0.5rem;">
        {% else %}
    <li class="list-group-item list-group-item" style="">
        {% endif %}
      <div class="media-body">
        <img class="rounded-circle article-img" style="width:3vh; height:3vh; margin-right:1vh;" src="{{member.profile.image.url}}">
          <b class="article-title" style="font-size:2vh">{{member.profile.nick}}</b>
      </div>
    </li>
    </a>
    {% endif %}
  {% endfor %}

{% endif %}
</ul>


{% endif %} <!--END-->

{% endblock right %}

<!--JAVA SCRIPT FILES-->

{% block js_code %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js" type="text/javascript"></script>
{% endblock %}

{# Modal scripts go here #}

{% block modal %}

<div class="modal fade" id="postModalCenter" tabindex="-1" role="dialog" aria-labelledby="postModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" style="width:auto">
    <div class="modal-content" style="border-radius: 0.5rem; background-color:transparent;">
      {# --------------------------Start----------------------------- #}
      <div id="post_display">
      {% include 'blog/post.html' %}
      </div>

      <div id="loading">
      <div class="" style="margin-bottom:20vh;"></div>
      {% include 'blog/loading.html' %}
      <div class="" style="margin-bottom:30vh;"></div>
      </div>
      {# --------------------------END----------------------------- #}
    </div>
  </div>
</div>

<div class="modal fade" id="newPostModalCenter" tabindex="-1" role="dialog" aria-labelledby="newPostModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" style="width:auto;">
    <div class="modal-content" style="border-radius: 0.5rem; background-color:#eedfff;;">
      {# --------------------------Start----------------------------- #}
      <div id="new_post_display" >
      {% include 'blog/post_form.html' %}
      </div>
      {# --------------------------END----------------------------- #}
    </div>
  </div>
</div>

<div class="modal fade" id="deletePostModalCenter" tabindex="-1" role="dialog" aria-labelledby="deletePostModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" style="width:auto;">
    <div class="modal-content" style="border-radius: 0.5rem;">
      {# --------------------------Start----------------------------- #}
      <div id="delete_post_display" >
      {% include 'blog/post_confirm_delete.html' %}
      </div>
      {# --------------------------END----------------------------- #}
    </div>
  </div>
</div>

<div class="modal fade" id="notificationModalCenter" tabindex="-1" role="dialog" aria-labelledby="notificationModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" style="width:auto;   display: flex;">
    <div class="modal-content" style="border-radius: 0.5rem; background-color:transparent;">
      {# --------------------------Start----------------------------- #}
      {% include 'blog/notifications_main.html' %}
      {# --------------------------END----------------------------- #}
    </div>
  </div>
</div>
<div class="modal fade" id="viewContentPostModalCenter" tabindex="-1" role="dialog" aria-labelledby="viewContentPostModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="width:auto;">
    <div class="modal-content" style="border-radius: 0.5rem; border-color:transparent; background-color:transparent;">
      {# --------------------------Start----------------------------- #}
      <div id="content_display" >
      {% include 'blog/content_view.html' %}
      </div>

      <div id="content_loading">
      <div class="" style="margin-bottom:20vh;"></div>
      {% include 'blog/loading.html' %}
      <div class="" style="margin-bottom:30vh;"></div>
      </div>
      {# --------------------------END----------------------------- #}
    </div>
  </div>
</div>
<div class="modal fade" id="reportPostModalCenter" tabindex="-2" role="dialog" aria-labelledby="reportPostModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" style="width:auto;">
    <div class="modal-content" style="border-radius: 0.5rem;">
      {# --------------------------Start----------------------------- #}
      <div id="report_post_display" >
      {% include 'blog/post_confirm_report.html' %}
      </div>
      {# --------------------------END----------------------------- #}
    </div>
  </div>
</div>
{% endblock modal %}
