{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load filters %}
<!--Content Page-->
{% block content %}
<script>
  $(document).ready(function(event) {
      $(document).on('click', '.updateButton' , function(event) {
        event.preventDefault();
          var member_id = $(this).attr('member_id');
          $.ajax({
            type: "POST",
            url: "{% url 'blog-home' %}",
            data : { 'id':member_id, 'csrfmiddlewaretoken': '{{csrf_token}}', 'action' : "View_Post"},
            dataType: 'json',
            success : function(response) {
              $('#post_display').html(response['form']);
              console.log("success");
            },
            error : function(rs, e) {
              $('#post_display').html("an error occured");
              console.log(rs.responseText);
            }
          });
      });
  });
</script>


    {% for post in pages %}
    {% if post.reply != post %}
    <button type="submit" class="btn btn-light updateButton" data-toggle="modal" data-target="#postModalCenter"
    member_id = {{post.reply.id}} style="text-align:left; border:none; width:100%; background:none;">
    {% else %}
    <button type="submit" class="btn btn-light updateButton" data-toggle="modal" data-target="#postModalCenter"
    member_id = {{post.id}} style="text-align:left; border:none; width:100%; background:none;">
    {% endif %}
    <article class="media content-section">
      <img class="rounded-circle article-img" style=" width: 5vh; height: 5vh;" src="{{post.author.profile.image.url}}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author.profile.nick }}</a>
          {% if post.reply != post %}
          <a class="mr-2" href="{% url 'user-posts' obj.author.username %}" style="color:#a300cc">@{{ post.reply.author.username}}</a>
          {% endif %}
          <small class="text-muted" style="">{{ post.date_posted|date:"F d, Y" }}</small>
          <img class="dropdown" style="width: 4%; height: auto; float:right; border:none; background:none; padding:none; cursor:pointer"
          src="{% static 'resources/more.png' %}" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% if user == post.author %}
            <a class="dropdown-item" href="#">Delete Post</a>
            {% else %}
            <a class="dropdown-item" href="">Report Post</a>
            {% endif %}
            <a class="dropdown-item" href="">Copy Post Link</a>
            <a class="dropdown-item" href="">Embed Post</a>
          </div>
        </div>
        <h2><a class="article-title" style="font-size:3vh" href="{% url 'post-detail' pk=post.id%}">{{ post.title }}</a></h2>
        <div>

          {% for topic in post.topics.all %}
            <a href="{% url 'topic-posts' topic.title  %}" class="article-content-sm mr-2"
              style="color:#e60000">
            <b>#{{topic.title}}</b></a>
          {% endfor %}

          {% for person in post.people.all %}
            <a href="{% url 'user-posts' person.username  %}" class="article-content-sm mr-2"
              style="color:#0071e6">
            <b>@{{person.username}}</b></a>
          {% endfor %}
        </div>
            {% if 'default.jpg' not in post.image.url%}
          <img class="img-fluid mb-2 mt-2 rounded" style="min-width:100%" alt="Responsive image" src="{{post.image.url}}">
            {% endif %}
        <p class="article-content" style="">{{ post.content }}</p>

        {#This is the part where the image information is done#}
          <div class="" style="text-align:right">
            {% if post|has_reply:user%}
            <img src="{% static 'resources/comment_full.png' %}" style="width: 4%; height: auto; border:none; cursor:pointer;"
            class="updateButton" member_id = {{post.id}}></img>
            {% else %}
              <img src="{% static 'resources/comment.png' %}" style="width: 4%; height: auto; border:none; cursor:pointer;"
              class="updateButton" member_id = {{post.id}}></img>
            {% endif %}
            <a>{{post.post_set.count}}</a>

            {% if obj|has_like:user%}
            <img src="{% static 'resources/heart_full.png' %}" style="width: 4%; height: auto; margin-left:10px;"/>
            {% else %}
            <img src="{% static 'resources/heart.png' %}" style="width: 4%; height: auto; margin-left:10px;"/>
            {% endif %}
            <a>{{obj.like_set.count}}</a>
        </div>

    <!-- Button trigger modal -->
    </article>
      </button>
    </li>
    {% endfor %}
</ul>

    <!--Pagees Object-->
    {% if pages.has_other_pages %}

      {% if pages.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{page_obj.previous_page_number}}"> < </a>
      {% endif %}

      {% for num in pages.paginator.page_range %}

        {% if pages.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > pages.number|add:'-3' and num < pages.number|add:'+3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}

      {% endfor %}

      {% if pages.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ pages.next_page_number }}"> > </a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.num_pages }}">Last</a>
      {% endif %}

    {% endif %} <!--Big If-->
{% endblock content %}

<!--Profile Page-->
{% block left %}
          <img class="img-fluid mb-2 rounded" style="min-width:100%;" alt="Responsive image" src="{{profile.user.profilesettings.coverImage.url}}">
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{user.profile.image.url}}">
          <div class="media-body">
            <b class="article-content" style="margin-right:2v">{{user.profile.nick}}</b>
            <p class="text-secondary">~{{user.username}}</p>
          </div>
        </article>

        <b> Friends </b>
        <ul class="list-group" style="margin-bottom:2vh">
      {% if user.profile.friends.all %}
          {% for friend in user.profile.friends.all %}
            <li class="list-group-item list-group-item">
              <div class="media-body">
              <img class="rounded-circle article-img" style="width:4vh; height:4vh" src="{{friend.image.url}}">
                <b class="article-content" style="">{{friend.nick}}</b>
              </div>
            </li>
          {% endfor %}
      {% else %}
        You don't have any friends yet.
      {% endif %}
        </ul>

        <b> Interests </b>
        <ul class="list-group" style="margin-bottom:2vh">
          {% if user.profile.following.all %}
            {% for friend in user.profile.following.all %}
              <li class="list-group-item list-group-item">
                <div class="media-body">
                <img class="rounded-circle article-img" style="width:4vh; height:4vh" src="{{friend.image.url}}">
                  <b class="article-content" style="">{{friend.nick}}</b>
                </div>
              </li>
              {% endfor %}

            {% else %}
              You don't have any interests yet.
            {% endif %}
        </ul>

    <b> Interested </b>
    <ul class="list-group">
      {% if user.profile.followers.all %}
        {% for friend in user.profile.followers.all %}
          <li class="list-group-item list-group-item">
            <div class="media-body">
            <img class="rounded-circle article-img" style="width:4vh; height:4vh" src="{{friend.image.url}}">
              <b class="article-content" style="">{{friend.nick}}</b>
            </div>
          </li>
        {% endfor %}

      {% else %}
        No one is interested in you yet.
      {% endif %}
    </ul>
{% endblock left %}

{% block right %}
<a><b> Recent Activity </b> <a class="float-right mr-0" href="?page=1"></a></a>
<ul class="list-group" style="margin-bottom:2vh">
{% if activities %}
    {% for activity in activities|slice:":10"%}
      {% if activity.author != user  %}
  <a href="{% url 'post-detail' activity.post.id %}" style="text-decoration: none !important">
    <li class="list-group-item list-group-item">
      <div class="input-block-level media-body">
        <img class="rounded-circle article-img mr-1 ml-0" style="width:3.5vh; height:3.5vh" src="{{activity.author.profile.image.url}}">
        {% if activity.type == 1 %}
        <img class="article-img mr-1" style="width:3vh; height:3vh" src="{% static 'resources/comment.png' %}">
        {% else %}
        <img class="article-img mr-1" style="width:3vh; height:3vh" src="{% static 'resources/heart_big.png' %}">
        {% endif %}
        <b class="article-title" style="text-decoration: none;">{{activity.post.author}}'s Post</b>
      </div>
    </li></a>
    {% endif %}
  {% endfor %}
{% else %}
There are no recent activities from your circles.
{% endif %}


{% endblock right %}

{# Modal scripts go here #}

{% block modal %}

<div class="modal fade" id="postModalCenter" tabindex="-1" role="dialog" aria-labelledby="postModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" style="width:auto">
    <div class="modal-content">
      {# --------------------------Start----------------------------- #}
      <div id="post_display">
      {% include 'blog/post.html' %}
      </div>
      {# --------------------------END----------------------------- #}
    </div>
  </div>
</div>
{% endblock modal %}
