{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load filters %}
<!--Content Page-->
{% block content %}
<script>
  $(document).ready(function(event) {
      $(document).on('click', '.updateButton' , function(event) {
        event.preventDefault();
              $('#loading').show();
              $('#post_display').hide();
          var member_id = $(this).attr('member_id');
          $.ajax({
            type: "POST",
            url: "{% url 'blog-home' %}",
            data : { 'id':member_id, 'csrfmiddlewaretoken': '{{csrf_token}}', 'action' : "View_Post"},
            dataType: 'json',
            success : function(response) {
              $('#post_display').html(response['form']);
              $('#loading').hide();
              $('#post_display').show();
              console.log("success");
            },
            error : function(rs, e) {
              $('#post_display').html("an error occured");
              console.log(rs.responseText);
            }
          });
      });
  });

  $(document).ready(function(event) {
      $(document).on('click', '.homeLikeButton' , function(event) {
        event.preventDefault();
        event.stopImmediatePropagation();
          var member_id = $(this).attr('member_id');
          $.ajax({
            type: "POST",
            url: "{% url 'blog-home' %}",
            data : { 'id':member_id, 'csrfmiddlewaretoken': '{{csrf_token}}', 'action' : "Like_Feed"},
            dataType: 'json',
            success : function(response) {
              $('#feed_display').html(response['form']);
              console.log("success");
            },
            error : function(rs, e) {
              $('#feed_display').html(response['main']);
              $('#post_display').html("an error occured");
              console.log(rs.responseText);
            }
          });
      });
  });

  $(document).ready(function(event) {
      $(document).on('click', '.newPostButton' , function(event) {
        event.preventDefault();
        event.stopImmediatePropagation();
        var member_id = $(this).attr('member_id');
          $.ajax({
            type: "POST",
            url: "{% url 'blog-home' %}",
            data : { 'id':member_id,'csrfmiddlewaretoken': '{{csrf_token}}', 'action' : "New_Post"},
            dataType: 'json',
            success : function(response) {
              $('#feed_display').html(response['form']);
              console.log("success");
            },
            error : function(rs, e) {
              console.log(rs.responseText);
            }
          });
      });
  });

</script>

<div id="feed_display">
{% include 'blog/feed.html' %}
</div>

    <!--Pagees Object-->
    {% if pages.has_other_pages %}

      {% if pages.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{page_obj.previous_page_number}}"> < </a>
      {% endif %}

      {% for num in pages.paginator.page_range %}

        {% if pages.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > pages.number|add:'-3' and num < pages.number|add:'+3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}

      {% endfor %}

      {% if pages.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ pages.next_page_number }}"> > </a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.num_pages }}">Last</a>
      {% endif %}

    {% endif %} <!--Big If-->
{% endblock content %}

<!--Profile Page-->
{% block left %}
          <img class="img-fluid mb-2 rounded" style="min-width:100%;" alt="Responsive image" src="{{profile.user.profilesettings.coverImage.url}}">
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{user.profile.image.url}}">
          <div class="media-body">
            <b class="article-content" style="margin-right:2v">{{user.profile.nick}}</b>
            <p class="text-secondary">~{{user.username}}</p>
          </div>
        </article>

        <b> Friends </b>
        <ul class="list-group" style="margin-bottom:2vh">
      {% if user.profile.friends.all %}
          {% for friend in user.profile.friends.all %}
            <li class="list-group-item list-group-item">
              <div class="media-body">
              <img class="rounded-circle article-img" style="width:4vh; height:4vh" src="{{friend.image.url}}">
                <b class="article-content" style="">{{friend.nick}}</b>
              </div>
            </li>
          {% endfor %}
      {% else %}
        You don't have any friends yet.
      {% endif %}
        </ul>

        <b> Interests </b>
        <ul class="list-group" style="margin-bottom:2vh">
          {% if user.profile.following.all %}
            {% for friend in user.profile.following.all %}
              <li class="list-group-item list-group-item">
                <div class="media-body">
                <img class="rounded-circle article-img" style="width:4vh; height:4vh" src="{{friend.image.url}}">
                  <b class="article-content" style="">{{friend.nick}}</b>
                </div>
              </li>
              {% endfor %}

            {% else %}
              You don't have any interests yet.
            {% endif %}
        </ul>

    <b> Interested </b>
    <ul class="list-group">
      {% if user.profile.followers.all %}
        {% for friend in user.profile.followers.all %}
          <li class="list-group-item list-group-item">
            <div class="media-body">
            <img class="rounded-circle article-img" style="width:4vh; height:4vh" src="{{friend.image.url}}">
              <b class="article-content" style="">{{friend.nick}}</b>
            </div>
          </li>
        {% endfor %}

      {% else %}
        No one is interested in you yet.
      {% endif %}
    </ul>
{% endblock left %}

{% block right %}
<a><b> Recent Activity </b> <a class="float-right mr-0" href="?page=1"></a></a>
<ul class="list-group" style="margin-bottom:2vh">
{% if activities %}
    {% for activity in activities|slice:":10"%}
      {% if activity.author != user  %}
  <a href="{% url 'post-detail' activity.post.id %}" style="text-decoration: none !important">
    <li class="list-group-item list-group-item">
      <div class="input-block-level media-body">
        <img class="rounded-circle article-img mr-1 ml-0" style="width:3.5vh; height:3.5vh" src="{{activity.author.profile.image.url}}">
        {% if activity.type == 1 %}
        <img class="article-img mr-1" style="width:3vh; height:3vh" src="{% static 'resources/comment.png' %}">
        {% else %}
        <img class="article-img mr-1" style="width:3vh; height:3vh" src="{% static 'resources/heart_big.png' %}">
        {% endif %}
        <b class="article-title" style="text-decoration: none;">{{activity.post.author}}'s Post</b>
      </div>
    </li></a>
    {% endif %}
  {% endfor %}
{% else %}
There are no recent activities from your circles.
{% endif %}


{% endblock right %}

{# Modal scripts go here #}

{% block modal %}

<div class="modal fade" id="postModalCenter" tabindex="-1" role="dialog" aria-labelledby="postModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" style="width:auto">
    <div class="modal-content" style="border-radius: 0.5rem;">
      {# --------------------------Start----------------------------- #}
      <div id="post_display">
      {% include 'blog/post.html' %}
      </div>

      <div id="loading">
      <div class="" style="margin-bottom:20vh;"></div>
      {% include 'blog/loading.html' %}
      <div class="" style="margin-bottom:30vh;"></div>
      </div>
      {# --------------------------END----------------------------- #}
    </div>
  </div>
</div>

<div class="modal fade" id="newPostModalCenter" tabindex="-1" role="dialog" aria-labelledby="newPostModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" style="width:auto;">
    <div class="modal-content" style="border-radius: 0.5rem;">
      {# --------------------------Start----------------------------- #}
      <div id="new_post_display" >
      {% include 'blog/post_form.html' %}
      </div>
      {# --------------------------END----------------------------- #}
    </div>
  </div>
</div>

<div class="modal fade" id="deletePostModalCenter" tabindex="-1" role="dialog" aria-labelledby="deletePostModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" style="width:auto;">
    <div class="modal-content" style="border-radius: 0.5rem;">
      {# --------------------------Start----------------------------- #}
      <div id="delete_post_display" >
      {% include 'blog/post_confirm_delete.html' %}
      </div>
      {# --------------------------END----------------------------- #}
    </div>
  </div>
</div>
{% endblock modal %}
