
  <div class="content-section">

    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <h3> Are you sure you want to delete this post? </h3>
      </fieldset>

        <div class="form-group">
          <button class="btn btn-danger deleteConfirmButton" type="submit" data-toggle="modal"
          data-target="#deletePostModalCenter"
          style="background-color:red;color:white;"> Yes, Delete</button>
          <a class="btn btn-outline-secondary" data-toggle="modal"
          data-target="#deletePostModalCenter" style="color:#a300cc; border-color:#a300cc">Go Back</a>
        </div>
    </form>
    Note: This action cannot be undone.
  </div> <!--Content Section Div-->

<script>
  var delete_btn;

  $(document).ready(function(event) {
    $(document).on('click', '.dropdown' , function(event) {
      event.preventDefault();
      event.stopImmediatePropagation();
      delete_btn = $(this).attr('select_id');
    });
  });

  $(document).ready(function(event) {
      $(document).on('click', '.deleteConfirmButton' , function(event) {
        event.preventDefault();
        event.stopImmediatePropagation();

        var member_id = delete_btn;

          $.ajax({
            type: "POST",
            url: "{% url 'blog-home' %}",
            data : { 'id':member_id,'csrfmiddlewaretoken': '{{csrf_token}}', 'action' : "Delete_Post"},
            dataType: 'json',
            success : function(response) {
              $('#reply_display').html(response['post']);
              $('#post_display').html(response['form']);
              $('#feed_display').html(response['main']);

              console.log("success:Delete " + " : " + delete_btn);
            },
            error : function(rs, e) {
              console.log(rs.responseText);
            }
          });
      });
  });







</script>
