{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <article class="media content-section">
      <img class="rounded-circle article-img" style=" width: 5vh; height: 5vh;" src="{{obj.author.profile.image.url}}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'user-posts' obj.author.username %}">{{ obj.author.profile.nick }}</a>
          <small class="text-muted" style="float:right">{{ obj.date_posted|date:"F d, Y" }}</small>
          {% if obj.author == user %}
            <div>
              <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' obj.id %}">Update</a>
              <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' obj.id %}">Delete</a>
            </div>
          {% endif %}
        </div>
          <h2><a class="article-title" style="font-size:3vh" href="{% url 'post-detail' pk=obj.id%}">{{ obj.title }}</a></h2>
            {% if 'default.jpg' not in obj.image.url%}
              <img class="img-fluid mb-2 mt-2" alt="Responsive image" src="{{obj.image.url}}">
            {% endif %}
          <p class="article-content" style=" font-size:1.8vh">{{ obj.content }}</p>
      </div>

    </article>

    <h3>Post A Comment</h3>

    <!--Comment Form-->

    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset class="form-group">
        {{ comment_form|crispy }}
      </fieldset>

        <div class="form-group">
          <button class="btn btn-outline-info" type="submit">Post</button>
        </div>
    </form>

    <!--Comments-->
    {% for comment in comments %}
    {% if comment.post.id == obj.id %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{comment.author.profile.image.url}}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'user-posts' comment.author.username %}">{{ comment.author.username }}</a>
          <small class="text-muted">{{ comment.date_posted|date:"F d, Y" }}</small>
        </div>
            {% if 'default.jpg' not in comment.image.url%}
          <img class="img-fluid mb-2 mt-2" alt="Responsive image" src="{{comment.image.url}}">
            {% endif %}
        <p class="article-content">{{ comment.content }}</p>
      </div>
    </article>
    {% endif %}
    {% endfor %}

{% endblock content %}

<!--Profile Page-->
{% block profile_home %}

        <article class="media content-section">
              <img class="rounded-circle article-img" src="{{obj.author.profile.image.url}}">
              <div class="media-body">
                <b class="article-content" style="margin-right:2v">{{obj.author.profile.nick}}</b>
                <p class="text-secondary">~{{obj.author.username}}</p>
              </div>
        </article>

        <b> Friends </b>
        <ul class="list-group" style="margin-bottom:2vh">
      {% if user.profile.friends.all %}
          {% for friend in user.profile.friends.all %}
            <li class="list-group-item list-group-item">
              <div class="media-body">
              <img class="rounded-circle article-img" style="width:4vh; height:4vh" src="{{friend.image.url}}">
                <b class="article-content" style="">{{friend.nick}}</b>
              </div>
            </li>
          {% endfor %}
      {% else %}
        You don't have any friends yet.
      {% endif %}
        </ul>

        <b> Interests </b>
        <ul class="list-group" style="margin-bottom:2vh">
          {% if user.profile.following.all %}
            {% for friend in user.profile.following.all %}
              <li class="list-group-item list-group-item">
                <div class="media-body">
                <img class="rounded-circle article-img" style="width:4vh; height:4vh" src="{{friend.image.url}}">
                  <b class="article-content" style="">{{friend.nick}}</b>
                </div>
              </li>
              {% endfor %}

            {% else %}
              You don't have any interests yet.
            {% endif %}
        </ul>

    <b> Interested </b>
    <ul class="list-group">
      {% if user.profile.followers.all %}
        {% for friend in user.profile.followers.all %}
          <li class="list-group-item list-group-item">
            <div class="media-body">
            <img class="rounded-circle article-img" style="width:4vh; height:4vh" src="{{friend.image.url}}">
              <b class="article-content" style="">{{friend.nick}}</b>
            </div>
          </li>
        {% endfor %}

      {% else %}
        No one is interested in you yet.
      {% endif %}
    </ul>
{% endblock profile_home %}
