{% extends "blog/home.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load filters %}

{% block content %}
    <div class="col-md-0" style="margin-top: 0rem;">
    <article class="media content-section">
      <img class="rounded-circle article-img" style=" width: 8%; height:auto;" src="{{obj.author.profile.image.url}}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'user-posts' obj.author.username %}">{{ obj.author.profile.nick }}</a>
          <small class="text-muted" style="float:right">{{ obj.date_posted|date:"F d, Y" }}</small>
          {% if obj.author == user %}
            <div>
              <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' obj.id %}">Update</a>
              <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' obj.id %}">Delete</a>
            </div>
          {% endif %}
        </div>
          <h2><a class="article-title" style="font-size:3vh" href="{% url 'post-detail' pk=obj.id%}">{{ obj.title }}</a></h2>
            {% if 'default.jpg' not in obj.image.url%}
              <img class="img-fluid mb-2 mt-2" alt="Responsive image" src="{{obj.image.url}}">
            {% endif %}
          <p class="article-content" style=" font-size:1.8vh">{{ obj.content }}</p>
{#This is the part where the image information is done#}
          <div class="" style="text-align:right">
            {% if obj|has_comment:user%}
              <img src="{% static 'resources/comment_full.png' %}" style="width: 4%; height: auto; "/>
            {% else %}
              <img src="{% static 'resources/comment.png' %}" style="width: 4%; height: auto; "/>
            {% endif %}
            <a>{{obj.comment_set.count}}</a>

            {% if obj|has_like:user%}
            <img src="{% static 'resources/heart_full.png' %}" style="width: 4%; height: auto; margin-left:10px;"/>
            {% else %}
            <img src="{% static 'resources/heart.png' %}" style="width: 4%; height: auto; margin-left:10px;"/>
            {% endif %}
            <a>{{obj.like_set.count}}</a>
      </div>
    </article>

    {% block post %}
    <!--Comments-->
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset class="form-group">
        {{ comment_form|crispy }}
      </fieldset>

        <div class="form-group">
          <button class="btn btn-outline-info" type="submit">Post</button>
        </div>
    </form>
    <!--Comments-->
    {% for comment in comments %}
    {% if comment.post.id == obj.id %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{comment.author.profile.image.url}}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'user-posts' comment.author.username %}">{{ comment.author.username }}</a>
          <small class="text-muted" style="float:RIGHT">{{ comment.date_posted|date:"F d, Y" }}</small>
        </div>
            {% if 'default.jpg' not in comment.image.url%}
          <img class="img-fluid mb-2 mt-2" alt="Responsive image" src="{{comment.image.url}}">
            {% endif %}
        <p class="article-content">{{ comment.content }}</p>
      </div>
    </article>
    {% endif %}
    {% endfor %}
    {% endblock post %}

    {% for activity in activities %}
    <article class="media content-section">
      <div class="media-body">

          <a class="mr-2" href="{% url 'user-posts' activity.author.username %}">{{ activity.author.username }}</a>
                  <a>{{ activity.message }}</a>
          <small class="text-muted" style="float:RIGHT">{{ activity.date|date:"F d, Y" }}</small>
        </div>

    </article>
    {% endfor %}
</div>
{% endblock content %}


<!--Comment S-->


{% block right %}

{% endblock right %}
