{% load crispy_forms_tags %}
{% load static %}
{% load filters %}

{#This is the part where the image information is done#}

<div class="" style="float:right">

  {% if p.reply != None %}
  <button class="updateButton" id="hidden_interact" member_id = {{p.reply.id}}
  style="cursor:pointer; border-radius: 1rem;">
  <img src="{% static 'resources/back.png' %}"
  style="width: 2.5vh; height: 2.5vh; border:none; cursor:pointer; display: inline-block;"></img>
  </button>
  {% endif %}

  <button class="updateButton" id="hidden_interact" member_id = {{p.id}} 
  style="cursor:pointer; border-radius: 1rem;">
  {% if p|has_reply:user%}
  <img src="{% static 'resources/comment_full.png' %}"
  style="width: 2.5vh; height: 2.5vh; border:none; cursor:pointer; display: inline-block;"></img>
  {% else %}
  <img src="{% static 'resources/comment.png' %}"
  style="width: 2.5vh; height: 2.5vh; border:none; cursor:pointer; display: inline-block;"></img>
  {% endif %}
  <a>{{p.post_set.count}}</a>
  </button>

  <button class="postLikeButton" id="hidden_interact" member_id = {{p.id}}
  style="cursor:pointer; border-radius: 1rem;">
  {% if p|has_like:user%}
  <img src="{% static 'resources/heart_full.png' %}"
  style="width: 2.5vh; height: 2.5vh; border:none; cursor:pointer; display: inline-block;"></img>
  {% else %}
  <img src="{% static 'resources/heart.png' %}"
  style="width: 2.5vh; height: 2.5vh; border:none; cursor:pointer; display: inline-block;"></img>
  {% endif %}
  <a>{{p.like_set.count}}</a>
  </button>
</div>
