{% load static %}
{% load filters %}
{% load crispy_forms_tags %}

<ul class="list-group" style="margin-bottom:0vh">
  {% for comment in replies %}
  <li>
  <article class="media content-section" style="margin-bottom:0vh">
    <img class="rounded-circle article-img" style=" width: 5vh; height: 5vh;" src="{{comment.author.profile.image.url}}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'user-posts' comment.author.username %}">{{ comment.author.profile.nick}}</a>
        <a class="mr-2" href="{% url 'user-posts' obj.author.username %}" style="color:#a300cc">@{{ comment.reply.author.username}}</a>
        <img class="dropdown" style="width: 4%; height: auto; float:right; border:none; background:none; padding:none; cursor:pointer"
        src="{% static 'resources/more.png' %}" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <small class="text-muted">{{ comment.date_posted|date:"F d, Y" }}</small>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          {% if user == comment.author %}
          <a class="dropdown-item" href="#">Delete Post</a>
          {% else %}
          <a class="dropdown-item" href="">Report Post</a>
          {% endif %}
          <a class="dropdown-item" href="">Copy Post Link</a>
          <a class="dropdown-item" href="">Embed Post</a>
        </div>
      </div>
      {% for topic in comment.topics.all %}
        <a href="{% url 'topic-posts' topic.title  %}" class="article-content-sm mr-2"
          style="color:#e60000">
        <b>#{{topic.title}}</b></a>
      {% endfor %}
      {% for person in comment.people.all %}
        <a href="{% url 'user-posts' person.username  %}" class="article-content-sm mr-2"
          style="color:#0071e6">
        <b>@{{person.username}}</b></a>
      {% endfor %}

          {% if 'default.jpg' not in comment.image.url%}
        <img class="img-fluid mb-2 mt-2" alt="Responsive image" src="{{comment.image.url}}">
          {% endif %}
      <p class="article-content">{{ comment.content }}</p>

      {#This is the part where the image information is done#}
      <div class="" style="float:right">
        <button class="updateButton" id="hidden_interact" member_id = {{comment.id}}
        style="cursor:pointer; border-radius: 1rem;">
        {% if comment|has_reply:user%}
        <img src="{% static 'resources/comment_full.png' %}"
        style="width: 2.5vh; height: 2.5vh; border:none; cursor:pointer; display: inline-block;"></img>
        {% else %}
        <img src="{% static 'resources/comment.png' %}"
        style="width: 2.5vh; height: 2.5vh; border:none; cursor:pointer; display: inline-block;"></img>
        {% endif %}
        <a>{{comment.post_set.count}}</a>
        </button>

        <button class="replyLikeButton" id="hidden_interact" member_id = {{comment.id}}
        style="cursor:pointer; border-radius: 1rem;">
        {% if comment|has_like:user%}
        <img src="{% static 'resources/heart_full.png' %}"
        style="width: 2.5vh; height: 2.5vh; border:none; cursor:pointer; display: inline-block;"></img>
        {% else %}
        <img src="{% static 'resources/heart.png' %}"
        style="width: 2.5vh; height: 2.5vh; border:none; cursor:pointer; display: inline-block;"></img>
        {% endif %}
        <a>{{comment.like_set.count}}</a>
        </button>
    </div>
    </div>
  </article>
  </li>
  {% endfor %}
</ul>
