{% load static %}
{% load filters %}
{% load crispy_forms_tags %}

<li class="list-group"
style="margin-bottom:0vh; border-bottom-left-radius: 0.5rem; border-bottom-right-radius: list-style-type: none;">
  {% for comment in replies %}
  {% if forloop.counter <= page_limit %}
  <ul style="padding-left:0vh;">
  {% if forloop.last %}
  <article id="reply_object" class="media content-section" style="margin-bottom:0vh; border-bottom-left-radius: 0.5rem; border-bottom-right-radius: 0.5rem;">
  {% else %}
    <article id="reply_object" class="media content-section" style="margin-bottom:0vh; border-bottom-left-radius: 0.0rem; border-bottom-right-radius: 0.0rem;">
  {% endif %}
    <img class="rounded-circle article-img" style=" width: 5vh; height: 5vh;" src="{{comment.author.profile.image.url}}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'user-posts' comment.author.username %}">{{comment.author.profile.nick}}</a>
        <a class="mr-2" href="{% url 'user-posts' obj.author.username %}" style="color:#a300cc">@{{ comment.reply.author.username}}</a>

        <button class="dropdown" id="hidden_interact" select_id = {{comment.id}} aria-haspopup="true" aria-expanded="false"
        style="cursor:pointer; border-radius: 1rem; float:right;" id="dropdownMenuButton" data-toggle="dropdown">
        <img src="{% static 'resources/more.png' %}"
        style="width: 2.5vh; height: 2.5vh; border:none; cursor:pointer; display: inline-block;"></img>
        </button>

        <small class="text-muted">{{ comment.date_posted|date:"M d, Y" }}</small>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="{% url 'post-detail' comment.id %}" style="cursor:pointer">View Post</a>
          <a class="dropdown-item" href="{% url 'blog-home' %}"  member_id = {{comment.id}} id="repostButton" style="cursor:pointer">Repost</a>
          <a class="dropdown-item" href="">Copy Post Link</a>
          {% if user == post.author %}
          <a class="dropdown-item" id = "delete_btn" style="color:red; cursor:pointer"
          data-toggle="modal" data-target="#deletePostModalCenter" >Delete Repost</a>
          {% else %}
          <a class="dropdown-item" href="">Report Post</a>
          {% endif %}
        </div>
      </div>
      {% for topic in comment.topics.all %}
        <a href="{% url 'topic-posts' topic.title  %}" class="article-content-sm mr-2"
          style="color:#e60000">
        <b>#{{topic.title}}</b></a>
      {% endfor %}
      {% for person in comment.people.all %}
        <a href="{% url 'user-posts' person.username  %}" class="article-content-sm mr-2"
          style="color:#0071e6">
        <b>@{{person.username}}</b></a>
      {% endfor %}

          {% if 'default.jpg' not in comment.image.url%}
        <img class="img-fluid mb-2 mt-2" alt="Responsive image" src="{{comment.image.url}}">
          {% endif %}
      <p class="article-content">{{ comment.content }}</p>

      {#This is the part where the image information is done#}
      <div class="" style="float:right">
        <button class="updateButton" id="hidden_interact" member_id = {{comment.id}}
        style="cursor:pointer; border-radius: 1rem;">
        {% if comment|has_reply:user%}
        <img src="{% static 'resources/comment_full.png' %}"
        style="width: 2.5vh; height: 2.5vh; border:none; cursor:pointer; display: inline-block;"></img>
        {% else %}
        <img src="{% static 'resources/comment.png' %}"
        style="width: 2.5vh; height: 2.5vh; border:none; cursor:pointer; display: inline-block;"></img>
        {% endif %}
        <a>{{comment.post_set.count}}</a>
        </button>

        <button class="replyLikeButton" id="hidden_interact" member_id = {{comment.id}}
        style="cursor:pointer; border-radius: 1rem;">
        {% if comment|has_like:user%}
        <img src="{% static 'resources/heart_full.png' %}"
        style="width: 2.5vh; height: 2.5vh; border:none; cursor:pointer; display: inline-block;"></img>
        {% else %}
        <img src="{% static 'resources/heart.png' %}"
        style="width: 2.5vh; height: 2.5vh; border:none; cursor:pointer; display: inline-block;"></img>
        {% endif %}
        <a>{{comment.like_set.count}}</a>
        </button>
    </div>
    </div>
  </article>
  </ul>
  {% endif %}
  {% endfor %}
</li>
