{% extends "blog/base.html" %}
{% block overhead %}

    {% for obj in posts|slice:":1"%}
      <div class="thumbnail">
       <img class="img-fluid mb-2 rounded" style="min-width:100%;" alt="Responsive image" src="{{obj.author.profilesettings.coverImage.url}}">
        <div class="carousel-caption" style="">
            <img class="rounded-circle article-img mr-2" style=" width: 15vh; height: 15vh; border: 0.5vh solid #FFFFFF;" src="{{obj.author.profile.image.url}}">
            <div class="mb-0">
              <b><a class="mr-2" style="font-size:3vh;">{{ obj.author.profile.nick }}</a></b>
            </div>
            <div class="mb-0">
              <a class="text mr-2" style="font-size:2.25vh;">{{ obj.author.username }}</a>
            </div>

            <div>
              <main role="main" class="col">

                    <button type="button" class="btn btn-primary ml-2 float-left" style="  background-color: #a300cc; border-color: #a300cc;">Message</button>
                    <button type="button" class="btn btn-primary float-right ml-2" style="  background-color: #a300cc; border-color: #a300cc;">Follow</button>
                    <button type="button" class="btn btn-primary float-right ml-2" style="  background-color: #a300cc; border-color: #a300cc;">Add Friend</button>

              </main>

            </div>
        </div>

       </div>
    {% endfor %}



{% endblock %}

{% block content %}
    {% for post in posts %}
    <article class="media content-section">
      <img class="rounded-circle article-img" style=" width: 5vh; height: 5vh;" src="{{post.author.profile.image.url}}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author.profile.nick }}</a>
          <small class="text-muted" style="float:right">{{ post.date_posted|date:"F d, Y" }}</small>
        </div>
        <h2><a class="article-title" style="font-size:3vh" href="{% url 'post-detail' pk=post.id%}">{{ post.title }}</a></h2>
            {% if 'default.jpg' not in post.image.url%}
          <img class="img-fluid mb-2 mt-2 rounded" style="min-width:100%" alt="Responsive image" src="{{post.image.url}}">
            {% endif %}
        <p class="article-content" style=" font-size:1.8vh">{{ post.content }}</p>
      </div>
    </article>
    {% endfor %}
    <!--Pagees Object-->
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{page_obj.previous_page_number}}"> < </a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}

        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'+3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}

      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}"> > </a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %} <!--Big If-->
{% endblock content %}

{% block left %}

  {% for obj in posts|slice:":1"%}

        <b> Friends </b>
        <ul class="list-group" style="margin-bottom:2vh">
      {% if obj.author.profile.friends.all %}
          {% for friend in obj.author.profile.friends.all %}
            <li class="list-group-item list-group-item">
              <div class="media-body">
              <img class="rounded-circle article-img" style="width:4vh; height:4vh" src="{{friend.image.url}}">
                <b class="article-content" style="">{{friend.nick}}</b>
              </div>
            </li>
          {% endfor %}
      {% else %}
        This person does not have any friends yet.
      {% endif %}
        </ul>

        <b> Interests </b>
        <ul class="list-group" style="margin-bottom:2vh">
          {% if obj.author.profile.following.all %}
            {% for friend in obj.author.profile.following.all %}
              <li class="list-group-item list-group-item">
                <div class="media-body">
                <img class="rounded-circle article-img" style="width:4vh; height:4vh" src="{{friend.image.url}}">
                  <b class="article-content" style="">{{friend.nick}}</b>
                </div>
              </li>
              {% endfor %}

            {% else %}
              This person does not have any interests yet.
            {% endif %}
        </ul>

    <b> Interested </b>
    <ul class="list-group">
      {% if obj.author.profile.followers.all %}
        {% for friend in obj.author.profile.followers.all %}
          <li class="list-group-item list-group-item">
            <div class="media-body">
            <img class="rounded-circle article-img" style="width:4vh; height:4vh" src="{{friend.image.url}}">
              <b class="article-content" style="">{{friend.nick}}</b>
            </div>
          </li>
        {% endfor %}

      {% else %}
        This person does not have any interested people yet.
      {% endif %}
    </ul>

    {% endfor %}
{% endblock left %}



{% block right %}
<canvas id="myChart" style="max-width: 500px;"></canvas>

<div class="col-md-5">
  <canvas id="myChart"></canvas>
</div>
{% endblock right %}

<script>
  var ctx = document.getElementById("myChart").getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
      datasets: [{
        label: '# of Votes',
        data: [12, 19, 3, 5, 2, 3],
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)'
        ],
        borderColor: [
          'rgba(255,99,132,1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      }
    }
  });

</script>
