{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
{% load filters %}


<div class="content-section">
<!-- USER EDIT FORM HERE -->
<form method="POST" action="{% url 'blog-home' %}">
  {% csrf_token %}
  <fieldset class="form-group">
    <div class="media">
      <a>Thank you for telling us about your expereince. We'll take a look at your feedback sent and apply necessary changes as soon as possible!</a>
    </div>
    <legend class="border-bottom mb-2"><b>Thanks for your feedback!</b></legend>
  </fieldset>

    <div class="form-group">
      <button class="btn btn" style="color:#FFFFFF; border-color:#a300cc; background-color:#a300cc" type="submit">Go To Homepage</button>
    </div>
</form>
</div>
{% endblock content %}

{% block modal %}

<div class="modal fade" id="notificationModalCenter" tabindex="-1" role="dialog" aria-labelledby="notificationModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" style="width:auto;   display: flex;">
    <div class="modal-content" style="border-radius: 0.5rem; background-color:transparent;">
      {# --------------------------Start----------------------------- #}
      {% include 'blog/notifications_main.html' %}
      {# --------------------------END----------------------------- #}
    </div>
  </div>
</div>

{% endblock modal %}
