{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}
{% load filters %}

<script>
  $(document).ready(function () {
    $("#file_string").each(function( index ) {

      $("a:contains(cover_pics)").text("...");
      $("a:contains(profile_pics)").text("...");
    });

  });
</script>

{% if not request.user_agent.is_mobile %}

{% if is_owner %}

<div class="content-section">
<!-- USER EDIT FORM HERE -->
<form method="POST" enctype="multipart/form-data" class="">
  {% csrf_token %}
  <fieldset class="form-group">
    <img class="img rounded" style="width:100%; height:100%;" alt="Responsive image" src="{{groupSettings.coverImage.url}}">
  <div class="carousel-caption" style="top:80px;">
     <a href="{% url 'user-posts' request.user %}" style="">
        <img class="rounded-circle article-img mr-0" style=" width: 12vh; height: 12vh; border: 0.5vh solid #FFFFFF;" src="{{group.image.url}}">
        <div class="mb-0">
          <b><a class="mr-0" style="font-size:3vh; color:black;">{{ group.name }}</a></b>
        </div>
     </a>
   </div>
    <legend class="border-bottom mb-2">Edit {{group.name}}
      <small>
      <a class="" style="float:right; color:red; cursor:pointer;" id="delete_btn" delete_id={{group.id}} data-toggle="modal" data-target="#deleteGroupModalCenter">Delete</a>
      </small>
    </legend>
    <div style="margin-top:13vh;">
      <div id="file_string">
        {{ group_form|crispy }}
        {{ groupSettings_form|crispy }}
      </div>
    </div>
  </fieldset>

    <div class="form-group">
      <button class="btn btn" style="color:#FFFFFF; border-color:#a300cc; background-color:#a300cc" type="submit">Save Changes</button>
    </div>
</form>
</div>

{% elif is_moderator %}
<div class="content-section">
<!-- USER EDIT FORM HERE -->
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <fieldset class="form-group">
    <img class="img rounded" style="width:100%; height:100%;" alt="Responsive image" src="{{groupSettings.coverImage.url}}">
  <div class="carousel-caption" style="top:80px;">
   <a href="{% url 'user-posts' request.user %}" style="">
      <img class="rounded-circle article-img mr-0" style=" width: 12vh; height: 12vh; border: 0.5vh solid #FFFFFF;" src="{{group.image.url}}">
      <div class="mb-0">
        <b><a class="mr-0" style="font-size:3vh; color:black;">{{ group.name }}</a></b>
      </div>
   </a>
   </div>
    <legend class="border-bottom mb-2">Edit {{group.name}}</legend>
    <div style="margin-top:13vh;">
      <div id="file_string">
        {{ group_form|crispy }}
        {{ groupSettings_form|crispy }}
      </div>
    </div>
  </fieldset>

    <div class="form-group">
      <button class="btn btn" style="color:#FFFFFF; border-color:#a300cc; background-color:#a300cc" type="submit">Save Changes</button>
    </div>
</form>
</div>

{% else %}
<div class="content-section m-0">
  <div class="m-2">
    <h4 style="text-align:center;"><b>Error 400 Bad Request</b></h4>
    <h6 class="mt-4">Looks like you're trying to access a page you don't have access to. </h6>
      <a>If you think this is a mistake, please send a feedback report detailing the circumstances that lead up to this error page. </a>
  </div>
</div>
{% endif %}




{% else %}

{% if is_owner %}

<div class="content-section">
<!-- USER EDIT FORM HERE -->
<form method="POST" enctype="multipart/form-data" class="">
  {% csrf_token %}
  <fieldset class="form-group">
    <img class="img rounded" style="width:100%; height:100%;" alt="Responsive image" src="{{groupSettings.coverImage.url}}">
  <div class="carousel-caption" style="top:110px;">
     <a href="{% url 'user-posts' request.user %}" style="">
        <img class="rounded-circle article-img mr-0" style=" width: 12vh; height: 12vh; border: 0.5vh solid #FFFFFF;" src="{{group.image.url}}">
        <div class="mb-0">
          <b><a class="mr-0" style="font-size:3vh; color:black;">{{ group.name }}</a></b>
        </div>
     </a>
   </div>
    <legend class="border-bottom mb-2">Edit {{group.name}}
      <small>
      <a class="" style="float:right; color:red; cursor:pointer;" id="delete_btn" delete_id={{group.id}} data-toggle="modal" data-target="#deleteGroupModalCenter">Delete</a>
      </small>
    </legend>
    <div style="margin-top:13vh;">
      <div id="file_string">
        {{ group_form|crispy }}
        {{ groupSettings_form|crispy }}
      </div>
    </div>
  </fieldset>

    <div class="form-group">
      <button class="btn btn" style="color:#FFFFFF; border-color:#a300cc; background-color:#a300cc" type="submit">Save Changes</button>
    </div>
</form>
</div>

{% elif is_moderator %}
<div class="content-section">
<!-- USER EDIT FORM HERE -->
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <fieldset class="form-group">
    <img class="img rounded" style="width:100%; height:100%;" alt="Responsive image" src="{{groupSettings.coverImage.url}}">
  <div class="carousel-caption" style="top:110px;">
   <a href="{% url 'user-posts' request.user %}" style="">
      <img class="rounded-circle article-img mr-0" style=" width: 12vh; height: 12vh; border: 0.5vh solid #FFFFFF;" src="{{group.image.url}}">
      <div class="mb-0">
        <b><a class="mr-0" style="font-size:3vh; color:black;">{{ group.name }}</a></b>
      </div>
   </a>
   </div>
    <legend class="border-bottom mb-2">Edit {{group.name}}</legend>
    <div style="margin-top:13vh;">
      <div id="file_string">
        {{ group_form|crispy }}
        {{ groupSettings_form|crispy }}
      </div>
    </div>
  </fieldset>

    <div class="form-group">
      <button class="btn btn" style="color:#FFFFFF; border-color:#a300cc; background-color:#a300cc" type="submit">Save Changes</button>
    </div>
</form>
</div>

{% else %}
<div class="content-section m-0">
  <div class="m-2">
    <h4 style="text-align:center;"><b>Error 400 Bad Request</b></h4>
    <h6 class="mt-4">Looks like you're trying to access a page you don't have access to. </h6>
      <a>If you think this is a mistake, please send a feedback report detailing the circumstances that lead up to this error page. </a>
  </div>
</div>
{% endif %}

{% endif %}


{% endblock content %}

{% block modal %}

<div class="modal fade" id="notificationModalCenter" tabindex="-1" role="dialog" aria-labelledby="notificationModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" style="width:auto;   display: flex;">
    <div class="modal-content" style="border-radius: 0.5rem; background-color:transparent;">
      {# --------------------------Start----------------------------- #}
      {% include 'blog/notifications_main.html' %}
      {# --------------------------END----------------------------- #}
    </div>
  </div>
</div>
<div class="modal fade" id="deleteGroupModalCenter" tabindex="-1" role="dialog" aria-labelledby="deleteGrouptModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" style="width:auto;">
    <div class="modal-content" style="border-radius: 0.5rem;">
      {# --------------------------Start----------------------------- #}
      <div id="delete_group_display" >
      {% include 'blog/group_confirm_delete.html' %}
      </div>
      {# --------------------------END----------------------------- #}
    </div>
  </div>
</div>

{% endblock modal %}
