{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}
{% load filters %}

<div class="content-section">
<!-- USER EDIT FORM HERE -->
<form method="POST" enctype="multipart/form-data" class="">
  {% csrf_token %}
  <fieldset class="form-group">
    <div class="media">
       <img class="img mb-2 rounded" style="width:100%; height:100%;" alt="Responsive image" src="{{groupSettings.coverImage.url}}">
        <div class="carousel-caption" style="padding:0; margin:0; height:0vh; margin-bottom:197%;">
            <img class="rounded-circle article-img mr-0" style=" width: 100px; height: 100px; border: 0.5vh solid #FFFFFF;" src="{{group.image.url}}">
            <div class="media-body">
              <h3><b class="article-title">{{group.name}}</b></h3>
            </div>
        </div>
    </div>
    <legend class="border-bottom mb-2">Create Group
      <small>
      <a class="" href="{% url 'group_manager' %}" style="float:right; color:gray; cursor:pointer;">Cancel</a>
      </small>
    </legend>
    <div style="margin-top:13vh;">
    {{ group_form|crispy }}
    {{ groupSettings_form|crispy }}
    </div>
  </fieldset>

    <div class="form-group">
      <button class="btn btn" style="color:#FFFFFF; border-color:#a300cc; background-color:#a300cc" type="submit">Save Changes</button>
    </div>
</form>
</div>

{% endblock content %}

{% block modal %}

<div class="modal fade" id="notificationModalCenter" tabindex="-1" role="dialog" aria-labelledby="notificationModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" style="width:auto;   display: flex;">
    <div class="modal-content" style="border-radius: 0.5rem; background-color:transparent;">
      {# --------------------------Start----------------------------- #}
      {% include 'blog/notifications_main.html' %}
      {# --------------------------END----------------------------- #}
    </div>
  </div>
</div>

{% endblock modal %}
