{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block about %}
{% load static %}
{% load filters %}


<div class="content-section" style="">
<!-- USER EDIT FORM HERE -->
<form method="POST" action="{% url 'blog-home' %}">
  {% csrf_token %}
  <fieldset class="form-group">
    <div class="media">

    </div>
    <legend class="border-bottom mb-2"><b>Mangrr (Project Mango) Versions</b></legend>
  </fieldset>

<div class="mb-3" style="text-align:justify">

  <div class="mb-3" style="text-align:justify">

    <div class="media-body" style="background-color:#a300cc; border-radius:0.3rem;">

    <h5 class="ml-2 mb-2"style=" color:white;"><strong>
       <a class="ml-1">Version 0.1.7</a>
      </strong></h5>
      </div>
      <a>Released in : February 21, 2019</a>
    <div>
    <a style="text-align: justify;"><b>New Features</b></a>
    <ul class="mt-0" style="margin:0; list-style-type: none;">
      <li> Added Group types (Open, Public, Private) in the Group Edit page.</li>
      <li> Added "Follow" button in Public Group pages.</li>
      <li> Added "Join" button in Open Group pages.</li>
      <li> Added "Invite To Group" button in User pages (available if the user is owner of one or more groups).</li>
    <ul>
    </div>

    <div>
    <a style="text-align: justify;"><b>Changes</b></a>
    <ul class="mt-0" style="margin:0; list-style-type: none;">
      <li> Removed the "is Private" option from the Group Settings Page</li>
    <ul>
    </div>

    <div>
    <a style="text-align: justify;"><b>Bug Fixes</b></a>
    <ul class="mt-0" style="margin:0; list-style-type: none;">
      <li> Fixed an issue where pressing the "Request To Join" button in Groups would take longer than expected to react.</li>
      <li> Fixed an issue where friend requests duplicate in the recepient's notification menu.</li>
      <li> Fixed an issue where posting in a private group would create duplicate posts.</li>
    <ul>
    </div>

  </div>

  <div class="mb-3" style="text-align:justify">

  <div class="media-body" style="background-color:#a300cc; border-radius:0.3rem;">

  <h5 class="ml-2 mb-2"style=" color:white;"><strong>
     <a class="ml-1">Version 0.1.6</a>
    </strong></h5>
    </div>
    <a>Released in : February 19, 2019</a>

  <div>
  <a style="text-align: justify;"><b>Changes</b></a>
  <ul class="mt-0" style="margin:0; list-style-type: none;">
    <li> Registered domain name <b>mangrr.com</b></li>
    <li> Website branding changed from "Mango" to "Mangrr" </li>
    <li> The option to select a Display Name while creating an account in the Register page.</li>
  <ul>
  </div>

  <div>
  <a style="text-align: justify;"><b>Bug Fixes</b></a>
  <ul class="mt-0" style="margin:0; list-style-type: none;">
    <li> Fixed an issue where new users cannot access the home page at times.</li>
    <li> Fixed an issue where video buffering seemed faster than it actually is.</li>
    <li> Fixed an issue where uploading links with "?" simbols resulted in the posted link to duplicate.</li>
  <ul>
  </div>

</div>

<div style="text-align:justify">

  <div class="media-body" style="background-color:#a300cc; border-radius:0.3rem;">

  <h5 class="ml-2 mb-2"style=" color:white;"><strong>
     <a class="ml-1">Version 0.1.5</a>
    </strong></h5>
    </div>
    <a>Released in : February 16, 2019</a>
  <div>
  <a style="text-align: justify;"><b>New Features</b></a>
  <ul class="mt-0" style="margin:0; list-style-type: none;">
    <li> Added Groups in Profile Navigation.</li>
    <li> Added Group page.</li>
    <li> Added <a style="color:#a300cc" href="{% url 'group_manager' %}">Manage Groups</a> page.</li>
    <li> Added <a style="color:#a300cc" href="{% url 'group-new' %}">New Group</a> page.</li>
    <li> Added <a style="color:#a300cc" href="">Edit Group</a> page.</li>
    <li> Added <a style="color:#a300cc" href="{% url 'patch_notes' %}">Versions</a> page.</li>
  <ul>
  </div>

  <div>
  <a style="text-align: justify;"><b>Changes</b></a>
  <ul class="mt-0" style="margin:0; list-style-type: none;">
    <li> Profile Groups are now visible in the Home and Profile page.</li>
    <li> Posts can now recognize hyperlinks and make them accessible.</li>
    <li> Group posts display in the post feed of the home page.</li>
  <ul>
  </div>

  <div>
  <a style="text-align: justify;"><b>Bug Fixes</b></a>
  <ul class="mt-0" style="margin:0; list-style-type: none;">
    <li> Improved performance and stability.</li>
    <li> Fixed an issue where upon creating posts a Form Resubmission alert would appear.</li>
    <li> Fixed an issue where posts are duplicted upon posting.</li>
    <li> Fixed an issue where leaving the content section of a new post blank would prevent the user from creating a new post.</li>
  <ul>
  </div>

</div>


</form>
</div>
{% endblock about %}

{% block modal %}

<div class="modal fade" id="notificationModalCenter" tabindex="-1" role="dialog" aria-labelledby="notificationModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" style="width:auto;   display: flex;">
    <div class="modal-content" style="border-radius: 0.5rem; background-color:transparent;">
      {# --------------------------Start----------------------------- #}
      {% include 'blog/notifications_main.html' %}
      {# --------------------------END----------------------------- #}
    </div>
  </div>
</div>

{% endblock modal %}
