{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">

  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4"><b>Join Today</b></legend>
      {{ name|crispy }}
      {{ form|crispy }}
    </fieldset>

      <div class="form-group">
      <button class="btn btn" style="color:#FFFFFF; border-color:#a300cc; background-color:#a300cc" type="submit">Sign Up</button>
      <small = "text-muted">
        <div style="margin-top:2vh;">
        By clicking Sign Up, you hereby agree to our <a href="{% url 'terms_of_service' %}">Terms of Service</a>
        </div>
      </small>
      </div>
  </form>

  <div class="border-top pt-3">
    <small = "text-muted">
      Already Have An Account?
      <a class="ml-2" href="{% url 'login' %}">Sign In</a>
    </small>
  </div>

</div> <!--Content Section Div-->
{% endblock content %}
